/* VARS=========================================================================================== */

$weight-light: 300;
$weight-norm: 400;
$weight-bold: 700;
$weight-mid: 600;
$orange: #ff7200;
$grey: #666;
