@import '_bootstrap.min';
@import '_bootstrap-theme.min';


#field {
	width: 600px;
	height: auto;
	margin: 15px auto;
	margin-top: 200px;
	background: #616d84;
	border-radius: 10px;
	color: white;
	h1 {
		color: white;
		padding-top: 20px;
	}
}

.todo {
	text-align: center;
	width:100%;

	.archive {
		margin: 0;
	}
}



ul {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	li {
		color: white;
		max-width: 500px;
		height: auto;
		margin: 5px 0;
		list-style-type: none;
		border-radius: 5px;
		height: 31px;
		font-size: 16px;
		line-height: 31px;

	}
	input[type="radio"],
	input[type="checkbox"] {
		margin: 0 15px 0;
		line-height: normal;
		vertical-align: middle;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	li:hover {
		background: #ddd;
		border-radius: 5px;
		-webkit-box-shadow: 10px 10px 90px -20px rgba(0, 0, 0, 0.48);
		-moz-box-shadow: 10px 10px 90px -20px rgba(0, 0, 0, 0.48);
		box-shadow: 10px 10px 90px -20px rgba(0, 0, 0, 0.48);
		transition: 1s;
	}
}


.input-group {
	width: 500px;
	margin: 0 auto;
	.task-add {
	width: 300px;
	padding-top: 10px;
	margin: 0 auto;
		.form-control {
			width:245px;
			margin-bottom: 20px;
			height: 33px;
		}
	}
	.btn {
		min-width: 55px;
	}
	.btn-default {
		color: white;
		background-color: #0074cc;
		border-color: #0045aa;
		background-image: none;
		float: right !important; 
	}
	.add:hover {
		color: white;
		background-color: #33cc66;
		border-color: #33cc66;
		transition: 0.5s;
	}
	
}

	.dell {
		color: white;
		background-color: #0074cc;
		border-color: #0045aa;
		background-image: none;
		float: right !important; 
		padding: 5px 6px;
	}

	.dell:hover {
		float: right;
		outline-style: none;
		color: white;
		background-color: #cc0033;
		border-color: #cc0033;
		transition: 0.5s;
	}

	.checked {
		text-decoration:line-through;
		color:grey;
		background :#66cc66;
	}

	.arch {
		color: white;
		background-color: #33cc66;
		border-color: #33cc66;
		height: 20px;
		line-height: 14px;
		margin: 2px;
		padding: 3px;
		transition: 0.5s;
	}